{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="post-card {{post_class}}" itemscope="" itemtype="http://schema.org/Article">

  <header class="post-header">
    <h2 class="post__title">
      <a itemprop="headline" href="{{url}}">{{title}}</a>
    </h2>
    <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time><span class="post__primarytag">: {{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}</span>
  </header>

  <section class="post__excerpt">
    <p itemprop="description">{{excerpt}}</p>
  </section>

  <footer class="post__meta">
    {{#if primary_author.profile_image}}
    <img class="post__meta__author-thumb" src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" nopin="nopin" />
    {{/if}}
    <span class="post__meta__author-name" itemprop="author">
      {{primary_author}}
    </span>
  </footer>

</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page - this is a custom pagination partial}}
{{pagination}}