<footer class="site-footer">
  <div class="row">

    <div class="column medium-6 large-6">
      <section class="font-tiny">
        &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> -
        Powered by <a href="https://ghost.org">Ghost</a>
      </section>
    </div>

    <div class="column medium-6 large-6">
      <section>
        <ul class="social-nav">
        {{#if @blog.twitter}}
          <li>
            <a href="{{twitter_url}}" target="_blank">
              <span data-icon="ei-sc-twitter" data-size="s"></span>
            </a>
          </li>
        {{/if}}
        {{#if @blog.facebook}}
          <li>
            <a href="{{facebook_url}}" target="_blank">
              <span data-icon="ei-sc-facebook" data-size="s"></span>
            </a>
          </li>
        {{/if}}
        {{#if @blog.mastodon}}
          <li>
            <a href="{{mastodon_url}}" target="_blank">
              <span data-icon="ei-link" data-size="s"></span>
            </a>
          </li>
        {{/if}}

        </ul>
      </section>
    </div>

  </div>
</footer>
